workspace/Pensoft/Schemas/nlm2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2013 rel. 2 (x64) (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"  xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tp="http://www.plazi.org/taxpub">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="taxon-treatment">
		<xs:sequence>
			<xs:element ref="tp:treatment-meta" minOccurs="0"/>
			<xs:element ref="tp:nomenclature"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tp:treatment-sec"/>
				<xs:element ref="tp:taxon-treatment"/>
			</xs:choice>
			<xs:element ref="ref-list" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="auth-code" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="taxon-treatment" type="taxon-treatment"/>
	<xs:complexType name="treatment-meta">
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="contrib-group" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="kwd-group" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="permissions" minOccurs="0"/>
			</xs:sequence>
			<xs:element ref="mixed-citation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="treatment-meta" type="treatment-meta"/>
	<xs:complexType name="nomenclature">
		<xs:sequence>
			<xs:element ref="sec-meta" minOccurs="0"/>
			<xs:element ref="label" minOccurs="0"/>
			<xs:element ref="tp:taxon-name"/>
			<xs:element ref="x" minOccurs="0"/>
			<xs:element ref="tp:taxon-authority" minOccurs="0"/>
			<xs:element ref="x" minOccurs="0"/>
			<xs:element ref="tp:taxon-status" minOccurs="0"/>
			<xs:element ref="x" minOccurs="0"/>
			<xs:element ref="tp:taxon-identifier" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="xref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="x" minOccurs="0"/>
			<xs:element ref="tp:nomenclature-citation-list" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="x" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="tp:type-genus"/>
				<xs:element ref="tp:type-species"/>
			</xs:choice>
			<xs:element ref="x" minOccurs="0"/>
			<xs:element ref="tp:taxon-type-location" minOccurs="0"/>
			<xs:element ref="x" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="nomenclature" type="nomenclature"/>
	<xs:complexType name="treatment-sec">
		<xs:sequence>
			<xs:element ref="sec-meta" minOccurs="0"/>
			<xs:element ref="label" minOccurs="0"/>
			<xs:element ref="title" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="address"/>
				<xs:element ref="alternatives"/>
				<xs:element ref="array"/>
				<xs:element ref="boxed-text"/>
				<xs:element ref="chem-struct-wrap"/>
				<xs:element ref="fig"/>
				<xs:element ref="fig-group"/>
				<xs:element ref="graphic"/>
				<xs:element ref="media"/>
				<xs:element ref="preformat"/>
				<xs:element ref="supplementary-material"/>
				<xs:element ref="table-wrap"/>
				<xs:element ref="table-wrap-group"/>
				<xs:element ref="disp-formula"/>
				<xs:element ref="disp-formula-group"/>
				<xs:element ref="p"/>
				<xs:element ref="def-list"/>
				<xs:element ref="list"/>
				<xs:element ref="tex-math"/>
				<xs:element ref="mml:math"/>
				<xs:element ref="related-article"/>
				<xs:element ref="related-object"/>
				<xs:element ref="disp-quote"/>
				<xs:element ref="speech"/>
				<xs:element ref="statement"/>
				<xs:element ref="verse-group"/>
			</xs:choice>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tp:treatment-sec"/>
			</xs:choice>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="fn-group"/>
				<xs:element ref="glossary"/>
				<xs:element ref="ref-list"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="sec-type" type="xs:anySimpleType"/>
		<xs:attribute name="specific-use" type="xs:anySimpleType"/>
		<xs:attribute name="sec-type-uri" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="treatment-sec" type="treatment-sec"/>
	<xs:complexType name="taxon-authority" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="object-id"/>
			<xs:element ref="tp:taxon-authority-part"/>
		</xs:choice>
		<xs:attribute name="role" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="taxon-authority" type="taxon-authority"/>
	<xs:complexType name="taxon-authority-part" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="object-id"/>
			<xs:element ref="tp:taxon-authority-part"/>
		</xs:choice>
		<xs:attribute name="tp:taxon-authority-part-type" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="taxon-authority-part" type="taxon-authority-part"/>
	<xs:complexType name="taxon-status" mixed="true">
		<xs:attribute name="xlink:type" fixed="simple">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="simple"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xlink:href" type="xs:anySimpleType"/>
		<xs:attribute name="xlink:role" type="xs:anySimpleType"/>
		<xs:attribute name="xlink:title" type="xs:anySimpleType"/>
		<xs:attribute name="xlink:show">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="embed"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="other"/>
					<xs:enumeration value="new"/>
					<xs:enumeration value="replace"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xlink:actuate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="onLoad"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="other"/>
					<xs:enumeration value="onRequest"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="taxon-status" type="taxon-status"/>
	<xs:complexType name="taxon-identifier" mixed="true">
		<xs:attribute name="xlink:type" fixed="simple">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="simple"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xlink:href" type="xs:anySimpleType"/>
		<xs:attribute name="xlink:role" type="xs:anySimpleType"/>
		<xs:attribute name="xlink:title" type="xs:anySimpleType"/>
		<xs:attribute name="xlink:show">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="embed"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="other"/>
					<xs:enumeration value="new"/>
					<xs:enumeration value="replace"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xlink:actuate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="onLoad"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="other"/>
					<xs:enumeration value="onRequest"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="taxon-identifier" type="taxon-identifier"/>
	<xs:complexType name="nomenclature-citation-list">
		<xs:sequence>
			<xs:element ref="tp:nomenclature-citation" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="nomenclature-citation-list" type="nomenclature-citation-list"/>
	<xs:complexType name="nomenclature-citation">
		<xs:sequence>
			<xs:element ref="tp:taxon-name"/>
			<xs:element ref="tp:taxon-author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice minOccurs="0">
				<xs:element ref="tp:type-genus"/>
				<xs:element ref="tp:type-species"/>
			</xs:choice>
			<xs:choice minOccurs="0">
				<xs:element ref="mixed-citation"/>
				<xs:element ref="xref"/>
			</xs:choice>
			<xs:element ref="tp:material-citation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="tp:taxon-status" minOccurs="0"/>
			<xs:element ref="comment" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="content-type" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="nomenclature-citation" type="nomenclature-citation"/>
	<xs:complexType name="type-genus">
		<xs:sequence>
			<xs:element ref="tp:taxon-name"/>
			<xs:element ref="tp:material-location" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="type-genus" type="type-genus"/>
	<xs:complexType name="type-species">
		<xs:sequence>
			<xs:element ref="tp:taxon-name"/>
			<xs:element ref="tp:material-location" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="type-species" type="type-species"/>
	<xs:complexType name="type-status" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="object-id"/>
		</xs:choice>
		<xs:attribute name="designation" default="n">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="n"/>
					<xs:enumeration value="y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="type-status" type="type-status"/>
	<xs:complexType name="taxon-type-location" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="object-id"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="taxon-type-location" type="taxon-type-location"/>
	<xs:complexType name="taxon-name" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tp:taxon-name-part"/>
			<xs:element ref="object-id"/>
		</xs:choice>
		<xs:attribute name="auth-code" type="xs:anySimpleType"/>
		<xs:attribute name="rank" type="xs:anySimpleType"/>
		<xs:attribute name="reg" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="taxon-name" type="taxon-name"/>
	<xs:complexType name="taxon-name-part" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tp:taxon-name-part"/>
			<xs:element ref="object-id"/>
		</xs:choice>
		<xs:attribute name="taxon-name-part-type" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="reg" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="taxon-name-part" type="taxon-name-part"/>
	<xs:complexType name="descriptive-statement" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tp:descriptive-statement-part"/>
			<xs:element ref="object-id"/>
		</xs:choice>
		<xs:attribute name="xlink:type" fixed="simple">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="simple"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xlink:href" type="xs:anySimpleType"/>
		<xs:attribute name="xlink:role" type="xs:anySimpleType"/>
		<xs:attribute name="xlink:title" type="xs:anySimpleType"/>
		<xs:attribute name="xlink:show">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="embed"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="other"/>
					<xs:enumeration value="new"/>
					<xs:enumeration value="replace"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xlink:actuate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="onLoad"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="other"/>
					<xs:enumeration value="onRequest"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="descriptive-statement" type="descriptive-statement"/>
	<xs:complexType name="descriptive-statement-part" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="object-id"/>
		</xs:choice>
		<xs:attribute name="xlink:type" fixed="simple">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="simple"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xlink:href" type="xs:anySimpleType"/>
		<xs:attribute name="xlink:role" type="xs:anySimpleType"/>
		<xs:attribute name="xlink:title" type="xs:anySimpleType"/>
		<xs:attribute name="xlink:show">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="embed"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="other"/>
					<xs:enumeration value="new"/>
					<xs:enumeration value="replace"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="xlink:actuate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="onLoad"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="other"/>
					<xs:enumeration value="onRequest"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="descriptive-statement-part" type="descriptive-statement-part"/>
	<xs:complexType name="material-citation" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="named-content"/>
			<xs:element ref="tp:collecting-event"/>
			<xs:element ref="object-id"/>
			<xs:element ref="tp:type-status"/>
			<xs:element ref="tp:material-location"/>
			<xs:element ref="tp:taxon-name"/>
			<xs:element ref="xref"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="material-citation" type="material-citation"/>
	<xs:complexType name="material-location" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="object-id"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="material-location" type="material-location"/>
	<xs:complexType name="collecting-event" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tp:collecting-location"/>
			<xs:element ref="date"/>
			<xs:element ref="tp:taxon-name"/>
			<xs:element ref="object-id"/>
			<xs:element ref="named-content"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="collecting-event" type="collecting-event"/>
	<xs:complexType name="collecting-location">
		<xs:sequence>
			<xs:element ref="object-id" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="tp:location" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="comment" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="collecting-location" type="collecting-location"/>
	<xs:complexType name="location" mixed="true">
		<xs:attribute name="location-type" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="location" type="location"/>
	<xs:element name="taxon-author"/>
</xs:schema>
