workspace/Pensoft/Altova/MapForce2013/MapForceExamples/AltovaTools.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Mr. Nobody (Altova GmbH) -->
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AltovaTools">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Version" type="xs:string"/>
				<xs:element name="Tool" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="Name" type="xs:string" use="required"/>
								<xs:attribute name="Code" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:length value="2"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="MissionKit" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="Edition" type="xs:string" use="required"/>
						<xs:attribute name="ToolCodes" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
