workspace/Pensoft/Altova/MapForce2013/MapForceExamples/ISBNConverter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:description targetNamespace="http://www.booksprice.com/IsbnConverter.jws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.booksprice.com/IsbnConverter.jws" xmlns:intf="http://www.booksprice.com/IsbnConverter.jws" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap">
	<wsdl:types>
		<schema targetNamespace="http://www.booksprice.com/IsbnConverter.jws" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<element name="isbn" type="string"/>
			<element name="convertToISBN13">
				<complexType>
					<sequence>
						<element name="isbn10" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="convertToISBN13Response" type="string"/>
			<element name="convertToEAN">
				<complexType>
					<sequence>
						<element name="isbn10" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="convertToEANResponse" type="string"/>
		</schema>
	</wsdl:types>
	<wsdl:interface name="IsbnConverter">
		<wsdl:operation name="convertToEAN" pattern="http://www.w3.org/ns/wsdl/in-out">
			<wsdl:input element="impl:convertToEAN"/>
			<wsdl:output element="impl:convertToEANResponse"/>
		</wsdl:operation>
		<wsdl:operation name="convertToISBN13" pattern="http://www.w3.org/ns/wsdl/in-out">
			<wsdl:input element="impl:convertToISBN13"/>
			<wsdl:output element="impl:convertToISBN13Response"/>
		</wsdl:operation>
	</wsdl:interface>
	<wsdl:binding name="IsbnConverterSoapBinding" interface="impl:IsbnConverter" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.1" wsoap:protocol="http://www.w3.org/2006/01/soap11/bindings/HTTP/">
		<wsdl:operation ref="impl:convertToEAN">
			<wsdl:input/>
			<wsdl:output/>
		</wsdl:operation>
		<wsdl:operation ref="impl:convertToISBN13">
			<wsdl:input/>
			<wsdl:output/>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IsbnConverterService" interface="impl:IsbnConverter">
		<wsdl:endpoint name="IsbnConverter" binding="impl:IsbnConverterSoapBinding" address="http://www.booksprice.com/IsbnConverter.jws"/>
	</wsdl:service>
	<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
</wsdl:description>
