workspace/Pensoft/Altova/MapForce2013/MapForceExamples/Temperatures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (x64) (http://www.altova.com) by Mr. Nobody (Altova GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="data">
		<xs:complexType>
			<xs:attribute name="temp" type="xs:decimal" use="required"/>
			<xs:attribute name="month" type="xs:gYearMonth" use="required"/>
			<xs:attribute name="desc"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Temperatures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="data" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
