workspace/Pensoft/Altova/Common2013/Schemas/NCAXML/Invoice_NCA_V1R1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Invoice-->
<!--Version V1R1  Date:NOV-05-2002-->
<!-- *********************************************************** -->
<!--  Copyright National Coffee Association of America 2002

National Coffee Association of America (NCA) hereby grants to any person using or
considering the use of the information in this publication a non-exclusive,
royalty-free, worldwide, and revocable license (1) to use and implement that
information, including document type definitions and other specifications,
and (2) to copy all or part of this publication in any form, provided that
all such copies clearly retain the foregoing copyright notice.

NCA makes no warranty or representation of any kind
regarding these specifications or the right of any person to implement them
free of infringement claims by others in accordance with the above licence.
The above licence shall be void if the licensee alleges against NCA
that the information in this publication infringes a
patent held or claimed by the licensee or a company controlled by or under
common control with the licensee. -->
<!-- *********************************************************** -->
<!--Developed by Eximware, Inc. as per NCA requirements and specifications. -->
<!-- *********************************************************** -->
<!-- Modification Log:-->
<!-- Nov 05, 2002.  Modified element definitions to be consistent with GCA Contract XML V1R1 where relevant, and, Corrected technical issues reported during testing of the XML
= Element AdditionalInformation type set to xs:string from ComplexType
= Elements AddressInformation and ContactDetails made optional where referenced
= Currency units and Price units elements used in different structures normalized to two types of enumerations, viz.
   currencyUnit and priceUnits for price elements where price is in Contract price units
   futuresCurrencyUnit and futuresPriceUnits for price elements where price is in Futures price untis
   Accordingly, elements FuturesUnitOfMeasure and PriceUnitOfMeasure replaced with reference to futuresPriceUnits and priceUnits resp.
= Element futuresExchangeCode made global, and, enumeration added to be consistent with futuresMarket list in GCA Contract XML V1R1   
= Element futuresMonthName type set to xs:string from ComplexType
= Element futuresMonthCode made global and enumeration added to be consistent with futuresMonth list in GCA Contract XML V1R1
= Element futuresYear enumeration added to be consistent with futuresMonth list in GCA Contract XML V1R1
= Element GrossAmount renamed to NetAmount to be consistent with NCA terminology
= Element description under AdjustmentItem type set to xs:string from ComplexType
= Element PreviousInvoiceAmount restructured to allow for multiple Previous Invoices to be listed, if desired
= Element PaymentReceived added to meet user requirements
= Element SampleWeights added to meet user requirements
= Elements quantityValue and quantityUnits under ContainerUnits changed to reference global elements instead of local definitions
= Element InvoiceNumber made global to enable consistent definition and reference for current Invoice and Past Invoice numbers
= Element invoiceType type set to xs:string from ComplexType
= Element DeliveryLocation made optional and definition simplified to accomodate different cases where delivery does not happen at a warehouse
= Element paymentTermsDescription type set to xs:string from ComplexType
= Element codeReferenceType type set to xs:string from ComplexType
= Element productDescriptionText type set to xs:string from ComplexType
= Redundant Element estimatedDateOfArrivalAtDestination definition under Voyage removed. ETA under RoutingSummary is used for the same purpose
= Element LocationOfStock made optional
= Element currencyUnit enumeration added to be consistent with list of ISO currency codes in GCA Contract XML V1R1
= Element contractType enumeration value Ex-Dock changed to Ex-Docks to be consistent with GCA Contract XML V1R1
= Element packagingType enumeration modified to be consistent with list in GCA Contract XML V1R1 
= Element positionOfSale enumeration value Shipment changed to Ship to be consistent with GCA Contract XML V1R1
= Element weighingMethodCode enumeration modified to be consistent with list in GCA Contract XML V1R1 
-->
<!-- *********************************************************** -->
<!--W3C Schema generated by XML Spy v4.4 (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AdditionalInformation" type="xs:string">
		<xs:annotation>
			<xs:documentation>Remarks or other information relating to the Delivery Order. This is free form text and can be used to convey any other information not covered by any of the defined XML elements.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddressInformation">
		<xs:annotation>
			<xs:documentation>Address of a person or organisation. This may be the postal address of a building or address of a department within a building.  Where structured address elements can be provided these should be filled in the designated elements for ease of processing by the receiver of this document.  Alternatively, address may be provided as free form text formatted into multiple lines.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FormattedAddress" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Free form representation of the address provided as 1 or more lines of text, formatted in the way it is to be presented.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="line" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NormalisedAddress" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Structured address format with  address elements in distinct named elements</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="StreetAddress" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Door numner, street name, suite number etc part of the address within the city.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="line" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="city" type="xs:string">
								<xs:annotation>
									<xs:documentation>Name of the city</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="StateOrProvince" minOccurs="0">
								<xs:annotation>
									<xs:documentation>State or Province name</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="stateOrProvinceCode" type="xs:string"/>
										<xs:element name="stateOrProvinceName" type="xs:string"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Country">
								<xs:annotation>
									<xs:documentation>Country in which the address exists. Should be either a universal code or name of the country</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="countryName" type="xs:string"/>
										<xs:element name="countryCode" type="xs:string"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="postalCode" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Postal code or zip part of the address</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BillOfLadingIdentifier">
		<xs:annotation>
			<xs:documentation>Identification provided on the Bill of Lading</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="documentCreatorIdentifier" minOccurs="0"/>
				<xs:element ref="documentNumber"/>
				<xs:element ref="documentVersion" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Body">
		<xs:annotation>
			<xs:documentation>Body of the document containing all the required details.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GeneralInformation"/>
				<xs:element ref="Parties"/>
				<xs:element ref="RoutingSummary"/>
				<xs:element ref="Consignment"/>
				<xs:element name="InvoiceDetails">
					<xs:annotation>
						<xs:documentation>Details of weights, price and other charges or reductions applied to calculate this invoice amount </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InvoiceWeightInformtion">
								<xs:annotation>
									<xs:documentation>Weight Information used in Invoice for calculating the Net amount</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="GrossWeight" minOccurs="0"/>
										<xs:element ref="NetWeight"/>
										<xs:element name="TareWeight" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Weight of the Package, e.g. - 2.0 lbs per 69 kg bag</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="value"/>
													<xs:element ref="weightUnitCode"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SampleWeights" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Weight of Samples</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="value"/>
													<xs:element ref="weightUnitCode"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="InvoicePriceInformation">
								<xs:annotation>
									<xs:documentation>Information regarding the various price related information that is applied in the invoice - differential, fixed price, unit price, etc.  </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="UnitPrice">
											<xs:annotation>
												<xs:documentation>Unit price for the consignment as per contract terms. Contains one of the two elements depending on the price type of the contract.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:choice>
													<xs:element name="UnitPriceFixedForDifferential">
														<xs:annotation>
															<xs:documentation>Details of price components used to compute unit price for Differential Priced contracts.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Differential">
																	<xs:annotation>
																		<xs:documentation>Plus or Minus decimal number applied to Futures Price i nContract Equivalent UNits to determine outright price, e.g. - - 4.55 </xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="value">
																				<xs:annotation>
																					<xs:documentation>Example - -4.55</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element ref="currencyUnit"/>
																			<xs:element ref="priceUnits"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="AverageFuturesPrice">
																	<xs:annotation>
																		<xs:documentation>Weighted average of price of futures used to fix the price.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="value">
																				<xs:annotation>
																					<xs:documentation>Example - -4.55</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element ref="futuresCurrencyUnit"/>
																			<xs:element ref="futuresPriceUnits"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="lotsFixed" type="xs:integer">
																	<xs:annotation>
																		<xs:documentation>Number of lots fixed.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="lotsToBeFixed" type="xs:integer">
																	<xs:annotation>
																		<xs:documentation>Lots remaining to be fixed, computed as Lots required to be fixed as per contract for the consignment LESS lots fixed. If fully fixed, this value will be 0. If non-zero, the assumedFuturesPrice element should be present.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="assumedFuturesPrice" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Futures Terminal price used to price the balance lots to be fixed, if applicable</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="value">
																				<xs:annotation>
																					<xs:documentation>Example - -4.55</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element ref="futuresCurrencyUnit"/>
																			<xs:element ref="futuresPriceUnits"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="netFixedPrice">
																	<xs:annotation>
																		<xs:documentation>Net Price calculated by adding or subtracting the differential from fixed futures price, e.g. - 66.23 - 4.55 = 61.88</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="value">
																				<xs:annotation>
																					<xs:documentation>Example - -4.55</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element ref="currencyUnit"/>
																			<xs:element ref="priceUnits"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="PriceFixDetails" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>If the contract is priced differentially then the Futures Month, Year, Exchange, etc are recorded</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="FuturesDeal" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="FuturesMarket">
																							<xs:annotation>
																								<xs:documentation>Name of the Exchange - London,  New York </xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:choice>
																									<xs:element name="futuresExchangeName" type="xs:string">
																										<xs:annotation>
																											<xs:documentation>Example - NYBOT (New York Board of Trade)</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element ref="futuresExchangeCode"/>
																								</xs:choice>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="FuturesMonth">
																							<xs:annotation>
																								<xs:documentation>Futures Contract Month - July, Sep, etc</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:choice>
																									<xs:element name="futuresMonthName" type="xs:string">
																										<xs:annotation>
																											<xs:documentation>Example - Sep, Dec, etc</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element ref="futuresMonthCode"/>
																								</xs:choice>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="futuresYear">
																							<xs:annotation>
																								<xs:documentation>Example - 02 for the year 2002</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:enumeration value="00"/>
																									<xs:enumeration value="01"/>
																									<xs:enumeration value="02"/>
																									<xs:enumeration value="03"/>
																									<xs:enumeration value="04"/>
																									<xs:enumeration value="05"/>
																									<xs:enumeration value="06"/>
																									<xs:enumeration value="07"/>
																									<xs:enumeration value="08"/>
																									<xs:enumeration value="09"/>
																									<xs:enumeration value="10"/>
																									<xs:enumeration value="11"/>
																									<xs:enumeration value="12"/>
																									<xs:enumeration value="13"/>
																									<xs:enumeration value="14"/>
																									<xs:enumeration value="15"/>
																									<xs:enumeration value="16"/>
																									<xs:enumeration value="17"/>
																									<xs:enumeration value="18"/>
																									<xs:enumeration value="19"/>
																									<xs:enumeration value="20"/>
																									<xs:enumeration value="21"/>
																									<xs:enumeration value="22"/>
																									<xs:enumeration value="23"/>
																									<xs:enumeration value="24"/>
																									<xs:enumeration value="25"/>
																									<xs:enumeration value="26"/>
																									<xs:enumeration value="27"/>
																									<xs:enumeration value="28"/>
																									<xs:enumeration value="29"/>
																									<xs:enumeration value="30"/>
																									<xs:enumeration value="31"/>
																									<xs:enumeration value="32"/>
																									<xs:enumeration value="33"/>
																									<xs:enumeration value="34"/>
																									<xs:enumeration value="35"/>
																									<xs:enumeration value="36"/>
																									<xs:enumeration value="37"/>
																									<xs:enumeration value="38"/>
																									<xs:enumeration value="39"/>
																									<xs:enumeration value="40"/>
																									<xs:enumeration value="41"/>
																									<xs:enumeration value="42"/>
																									<xs:enumeration value="43"/>
																									<xs:enumeration value="44"/>
																									<xs:enumeration value="45"/>
																									<xs:enumeration value="46"/>
																									<xs:enumeration value="47"/>
																									<xs:enumeration value="48"/>
																									<xs:enumeration value="49"/>
																									<xs:enumeration value="50"/>
																									<xs:enumeration value="51"/>
																									<xs:enumeration value="52"/>
																									<xs:enumeration value="53"/>
																									<xs:enumeration value="54"/>
																									<xs:enumeration value="55"/>
																									<xs:enumeration value="56"/>
																									<xs:enumeration value="57"/>
																									<xs:enumeration value="58"/>
																									<xs:enumeration value="59"/>
																									<xs:enumeration value="60"/>
																									<xs:enumeration value="61"/>
																									<xs:enumeration value="62"/>
																									<xs:enumeration value="63"/>
																									<xs:enumeration value="64"/>
																									<xs:enumeration value="65"/>
																									<xs:enumeration value="66"/>
																									<xs:enumeration value="67"/>
																									<xs:enumeration value="68"/>
																									<xs:enumeration value="69"/>
																									<xs:enumeration value="70"/>
																									<xs:enumeration value="71"/>
																									<xs:enumeration value="72"/>
																									<xs:enumeration value="73"/>
																									<xs:enumeration value="74"/>
																									<xs:enumeration value="75"/>
																									<xs:enumeration value="76"/>
																									<xs:enumeration value="77"/>
																									<xs:enumeration value="78"/>
																									<xs:enumeration value="79"/>
																									<xs:enumeration value="80"/>
																									<xs:enumeration value="81"/>
																									<xs:enumeration value="82"/>
																									<xs:enumeration value="83"/>
																									<xs:enumeration value="84"/>
																									<xs:enumeration value="85"/>
																									<xs:enumeration value="86"/>
																									<xs:enumeration value="87"/>
																									<xs:enumeration value="88"/>
																									<xs:enumeration value="89"/>
																									<xs:enumeration value="90"/>
																									<xs:enumeration value="91"/>
																									<xs:enumeration value="92"/>
																									<xs:enumeration value="93"/>
																									<xs:enumeration value="94"/>
																									<xs:enumeration value="95"/>
																									<xs:enumeration value="96"/>
																									<xs:enumeration value="97"/>
																									<xs:enumeration value="98"/>
																									<xs:enumeration value="99"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="FixedFuturesPriceLevel">
																							<xs:annotation>
																								<xs:documentation>Example - 1400 USD per Metric Ton</xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element ref="value">
																										<xs:annotation>
																											<xs:documentation>Example - 1400 or 45.55</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element ref="futuresCurrencyUnit"/>
																									<xs:element ref="futuresPriceUnits"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="FixedFuturesPriceInContractEquivalentUnits" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Example - 1460 USD / MT converts to 66.23 cts / lb </xs:documentation>
																							</xs:annotation>
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element ref="value">
																										<xs:annotation>
																											<xs:documentation>Example - 66.23</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element ref="priceUnits"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="futuresSettlementDate" type="xs:date">
																							<xs:annotation>
																								<xs:documentation>Date when the futures were fixed for the contract / shipment  in ISO format, i.e. - YYYY-MM-DD</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="numberOfLots" type="xs:integer"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="UnitPriceFixedForOutright">
														<xs:annotation>
															<xs:documentation>Unit Price as agreed in the contract for outright priced contracts</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="value">
																	<xs:annotation>
																		<xs:documentation>Example - -4.55</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element ref="currencyUnit"/>
																<xs:element ref="priceUnits"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="Allowance">
											<xs:annotation>
												<xs:documentation>Allowance per invoice unit, if any, e.g. -0.02 US Cts per pound</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="value">
														<xs:annotation>
															<xs:documentation>Example - -4.55</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="currencyUnit"/>
													<xs:element ref="priceUnits"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="InvoiceUnitPrice">
											<xs:annotation>
												<xs:documentation>Invoice Unit Price</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="value">
														<xs:annotation>
															<xs:documentation>Example - -4.55</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="currencyUnit"/>
													<xs:element ref="priceUnits"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="NetAmount">
								<xs:annotation>
									<xs:documentation>Invoice Amount calculated by multiplying unit Price and Net Weight</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="value">
											<xs:annotation>
												<xs:documentation>Example - -4.55</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="currencyUnit"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Adjustments" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Any adjustments that need to be added or subtracted form the invoice amount, e.g. Freight Charges on Buyers behalf</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AdjustmentItem" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="description" type="xs:string">
														<xs:annotation>
															<xs:documentation>Description for additional charge. e.g. Freight charges paid on behalf of buyer</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="value">
														<xs:annotation>
															<xs:documentation>Example - -4.55</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="currencyUnit"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TotalAmount" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Total Amount payable after including the additonal charges</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="value">
											<xs:annotation>
												<xs:documentation>Example - -4.55</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="currencyUnit"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PreviousInvoices" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Amount already invoiced that is to be reduced from Total Amount</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="InvoiceDetails" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="InvoiceNumber"/>
													<xs:element ref="value">
														<xs:annotation>
															<xs:documentation>Example - -4.55</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="currencyUnit"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="percentAmountPayable" type="xs:decimal" minOccurs="0">
								<xs:annotation>
									<xs:documentation>How much % of the amount is due at this time - 80%</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PaymentReceived" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Total of payments received to date prior to this invoice</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="value">
											<xs:annotation>
												<xs:documentation>Example - -4.55</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="currencyUnit"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="AmountDue">
								<xs:annotation>
									<xs:documentation>Net Amount Due from Buyer after taking into account additional charges, percentage payable and past invoices/payments</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="value">
											<xs:annotation>
												<xs:documentation>Example - -4.55</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="currencyUnit"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="dueDate" type="xs:date" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Date when the Net Invoice Amount is due in ISO format, i.e. - YYYY-MM-DD</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="InstructionalInformation"/>
				<xs:element ref="AdditionalInformation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Broker">
		<xs:annotation>
			<xs:documentation>Broker associated with the Contract, if any</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="organizationName"/>
				<xs:element ref="OrganizationIdentification" minOccurs="0"/>
				<xs:element ref="AddressInformation" minOccurs="0"/>
				<xs:element ref="ContactDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Buyer">
		<xs:annotation>
			<xs:documentation>Name and address of the Buyer on the contract</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="organizationName"/>
				<xs:element ref="OrganizationIdentification" minOccurs="0"/>
				<xs:element ref="AddressInformation" minOccurs="0"/>
				<xs:element ref="ContactDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Consignment">
		<xs:annotation>
			<xs:documentation>Information about the consignment to which this invoice pertains.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Quantity"/>
				<xs:element ref="ProductQuality"/>
				<xs:element ref="ConsignmentDetails" minOccurs="0"/>
				<xs:element name="customsReleaseDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Date Customs Releases the shipment</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="fdaReleaseDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Date FDA Releases the shipment</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="approvalDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Date when the Shipment Samples  were approved</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConsignmentDetails">
		<xs:annotation>
			<xs:documentation>Group Element provides details of the consignment being shipped that this Shipping Advice pertains to</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="freightType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Type of Freight- can be Container, Break Bulk</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Container"/>
							<xs:enumeration value="Break Bulk"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="ConsignmentIdentifiers" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContactDetails">
		<xs:annotation>
			<xs:documentation>Information pertaining to the contact person in the organisation pertaining to this document, if available.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="personName" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Full Name of the person to be contacted within the organisation.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="departmentName" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Name of the organisational unit or Department that the Contact person works in</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="telephoneNumber" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Telephone Number. Precise format will depend on the parties concerned and local format for telephone numbers.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="faxNumber" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fax (Facsimile) Number.  Precise format will depend on the parties concerned and local format for fax numbers.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="e-MailAddress" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Electronic mailing address</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Container">
		<xs:annotation>
			<xs:documentation>Identifies the container if the freight type is container</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="containerIdentification"/>
				<xs:element ref="containerType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConsignmentIdentifiers">
		<xs:annotation>
			<xs:documentation>Details of all the containers and marks used to make the shipment - ISO Standards</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Container" minOccurs="0"/>
				<xs:element ref="seal" minOccurs="0"/>
				<xs:element ref="ShipmentMark" minOccurs="0"/>
				<xs:element name="ContainerUnits" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Quantity of Coffee in the container</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="quantityValue"/>
							<xs:element ref="quantityUnits"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="warehouseReceipt" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Warehouse Receipt No for the stock issued by the Warehouse</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cargoNo" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Cargo No issued by the warehouse for various lots/ containers, e.g. - C-12345</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="exchangeIdNo" type="xs:string" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Exchange ID No issued by the Exchange / Warehouse after Grading the stock</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractIdentifier">
		<xs:annotation>
			<xs:documentation>Common Contract Identifier for the Contract.  If the contract is issued by a 3rd party system, such as a B2B  system, the system is identified in the documentCreatorIdentifier child element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="documentCreatorIdentifier"/>
				<xs:element ref="documentNumber"/>
				<xs:element ref="documentVersion" minOccurs="0"/>
				<xs:element name="contractExtension" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Identifier or code to identify the sub-contract or contract extension or shipment number to which this document pertains, if the contract is fixed in parts</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CountryOfDestination">
		<xs:annotation>
			<xs:documentation>Country of the Delivery Location</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="locationCode" minOccurs="0"/>
				<xs:element name="countryName" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CountryOfOrigin">
		<xs:annotation>
			<xs:documentation>Country of the original port from which the shipment takes place.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="locationCode" minOccurs="0"/>
				<xs:element ref="locationName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Invoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="Body"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GeneralInformation">
		<xs:annotation>
			<xs:documentation>References and other general information pertaining to the contract and this document.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dateOfIssue" type="xs:date">
					<xs:annotation>
						<xs:documentation>Date of Issue of Invoice in ISO format, i.e. - YYYY-MM-DD</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="ContractIdentifier"/>
				<xs:element ref="contractType" minOccurs="0"/>
				<xs:element ref="e-TransactionNumber" minOccurs="0"/>
				<xs:element ref="buyerContractIdentifier" minOccurs="0"/>
				<xs:element ref="sellerContractIdentifier" minOccurs="0"/>
				<xs:element ref="brokerContractIdentifier" minOccurs="0"/>
				<xs:element ref="InvoiceNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GrossWeight">
		<xs:annotation>
			<xs:documentation>Gross Weight of the Shipment/Consignment as indicated in the Invoice</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
				<xs:element ref="weightUnitCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Header">
		<xs:annotation>
			<xs:documentation>Header, userd for control purposes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="documentID" minOccurs="0"/>
				<xs:element name="invoiceType" type="xs:string">
					<xs:annotation>
						<xs:documentation>Type of Invoice - Proforma, Final, Debit Note, or Credit Note</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="status"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InstructionalInformation">
		<xs:annotation>
			<xs:documentation>Instructional information pertaining to this document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DeliveryLocation" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Name, address and contact details for the Location of the Coffee. E.g. RPM Warehouse Inc.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="locationName"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="MoveOrDeliverPeriod" minOccurs="0"/>
				<xs:element name="deliveryDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Date of Delivery</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="WeighingMethod"/>
				<xs:element ref="responsibilityOfWeighing"/>
				<xs:element name="PaymentTerms" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Payment terms agreed upon in the contract, consists of a code (optional) and a common business description of the payment terms. For example, LC - Letter Of Credit.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="paymentTermsCode" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Harmonised code for common payment terms. Use OTHER for a term not in the list and provide full description of the payment terms in paymentTermsDescription.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="CAD"/>
										<xs:enumeration value="D/O vs pmt"/>
										<xs:enumeration value="LC"/>
										<xs:enumeration value="Net 5 fm pres"/>
										<xs:enumeration value="Net 10 fm appr"/>
										<xs:enumeration value="Net fm D/O, 10 fm appr"/>
										<xs:enumeration value="Net 10 fm D/O"/>
										<xs:enumeration value="Net 30 fm D/O"/>
										<xs:enumeration value="Net 10 fm remov"/>
										<xs:enumeration value="Net 30 fm remov"/>
										<xs:enumeration value="OTHER"/>
										<xs:enumeration value="WASHOUT"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="paymentTermsDescription" type="xs:string">
								<xs:annotation>
									<xs:documentation>Text description of the payment terms. e.g. Net cash vs. first presentation of documents</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="paymentInstructions" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Payment Instructions to the buyer for remitting the net amount due, e.g. - remit by telegraphic transfer to our Citibank account xxxx</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MoveOrDeliverPeriod">
		<xs:annotation>
			<xs:documentation>Period specified in the contract - shipment, delivery, etc as specified by position of sale element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="startDate"/>
				<xs:element ref="endDate"/>
				<xs:element ref="positionOfSale"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NetWeight">
		<xs:annotation>
			<xs:documentation>Net weight of the Shipment/Consignment as indicated in the Invoice</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
				<xs:element ref="weightUnitCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrganizationIdentification" type="xs:string">
		<xs:annotation>
			<xs:documentation>Unique Identification for the organization</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Parties">
		<xs:annotation>
			<xs:documentation>Various parties involved in the business transaction to which this document pertains</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Seller" minOccurs="0"/>
				<xs:element ref="Buyer"/>
				<xs:element ref="Broker" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocationOfStock">
		<xs:annotation>
			<xs:documentation>Location of Coffee where the coffee is lying</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="locationName"/>
				<xs:element name="storeNo" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Warehouse Store #</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlaceOfDischarge">
		<xs:annotation>
			<xs:documentation>Port of Discharge or Port of Destination for Sea Transportation, or, Place where coffee is discharged  for Rail/Road.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="locationCode" minOccurs="0"/>
				<xs:element ref="locationName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlaceOfLoading">
		<xs:annotation>
			<xs:documentation>Port of Loading for Sea Transportation or Place where coffee is loaded for Rail/Road</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="locationCode" minOccurs="0"/>
				<xs:element ref="locationName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProductDescription">
		<xs:annotation>
			<xs:documentation>Technical  Reference to a description for the coffee, e.g - Santos 2/3 </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="productDescriptionText">
					<xs:annotation>
						<xs:documentation>Technical description for the Coffee, e.g. Santos 2/3</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProductQuality">
		<xs:annotation>
			<xs:documentation>Group element collecting the different elements that are used to uniquely describe the Coffee and quality</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="product"/>
				<xs:element ref="CountryOfOrigin" minOccurs="0"/>
				<xs:element ref="cropYear" minOccurs="0"/>
				<xs:element name="ProductDescription">
					<xs:annotation>
						<xs:documentation>Technical  Reference to a description for the coffee, e.g - Santos 2/3 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ProductDescriptionCode" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Unique code reference to the technical description of the coffee like material codes. Can have multiple occurrences to list the buyer's code, seller's code, TLM code, etc.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="codeReferenceType" type="xs:string">
											<xs:annotation>
												<xs:documentation>Reference to the System or Organization or Standard which defines the code value, e.g. TLM</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="codeValue" type="xs:string">
											<xs:annotation>
												<xs:documentation>Unique code reference to the technical description of the Coffee</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="productDescriptionText" type="xs:string">
								<xs:annotation>
									<xs:documentation>Technical description for the Coffee, e.g. Santos 2/3</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Quantity">
		<xs:annotation>
			<xs:documentation>Quantity being shipped expressed as a weight or as a number of bags of certain weight, typically in the same units as the unit used to specify the quantity in the contract.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="quantityValue"/>
				<xs:element ref="quantityUnits"/>
				<xs:element ref="packagingType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RoutingSummary">
		<xs:annotation>
			<xs:documentation>Details of the means of transportation, and associated references, describing how this shipment is transported</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MeansOfTransport" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Identification information pertaining to the means of transport.  </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="SeaTransportIdentification">
								<xs:annotation>
									<xs:documentation>Identification of the vessel and voyage if the shipment is made via sea/ocean transport.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Voyage" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Details of the Vessel and voyage. Can have multiple entries to provide details of Feeder and Main Vessel segments.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Vessel"/>
													<xs:element ref="voyageNumber" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RailTransportIdentification">
								<xs:annotation>
									<xs:documentation>Identification of the rail car if the shipment is transported by rail</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="carrier" type="xs:string">
											<xs:annotation>
												<xs:documentation>Name of the carrier / Railroad organisation, e.g. Norfolk Southern</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element ref="locomotiveNumber"/>
										<xs:element ref="railCarNumber"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RoadTransportIdentification">
								<xs:annotation>
									<xs:documentation>Identification of the truck or other vehicle, if this shipment is transported overland via road.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="carrier" type="xs:string">
											<xs:annotation>
												<xs:documentation>Name of the carrier / trucking organisation, e.g. Allied Van Lines</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="licensePlateNumber" type="xs:string">
											<xs:annotation>
												<xs:documentation>License Plate Number of the truck</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="PlaceOfOrigin" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Point of origin of the cargo, e.g. - inland  Container terminal  </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="locationCode"/>
							<xs:element ref="locationName"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="PlaceOfLoading" minOccurs="0"/>
				<xs:element ref="BillOfLadingIdentifier" minOccurs="0"/>
				<xs:element ref="billOfLadingDate" minOccurs="0"/>
				<xs:element ref="PlaceOfDischarge"/>
				<xs:element ref="LocationOfStock" minOccurs="0"/>
				<xs:element ref="CountryOfDestination" minOccurs="0"/>
				<xs:element ref="dateOfArrivalAtDestination" minOccurs="0"/>
				<xs:element ref="estimatedDateOfAvailability" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Seller">
		<xs:annotation>
			<xs:documentation>Name, address and identification of the Seller on the contract.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="organizationName"/>
				<xs:element ref="OrganizationIdentification" minOccurs="0"/>
				<xs:element ref="AddressInformation" minOccurs="0"/>
				<xs:element ref="ContactDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShipmentMark">
		<xs:annotation>
			<xs:documentation>ICO or other marks used to mark the shipment</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="icoMark" minOccurs="0"/>
				<xs:element ref="additionalMark" minOccurs="0"/>
				<xs:element ref="numberOfBags" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Vessel">
		<xs:annotation>
			<xs:documentation>Identifying details of the vessel and voyage.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vesselName"/>
				<xs:element name="carrier" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Carrier Name. e.g. - APL </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="vesselFunction" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Feeder or Main Vessel</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Feeder"/>
							<xs:enumeration value="Main"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WeighingMethod">
		<xs:annotation>
			<xs:documentation>Weighing method agreed upon in the contract. For example, NSW 0.5 (Net Shipped Weights 0.5% franchise).  Consists of a code and description.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="weighingMethodCode" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Harmonised code for the weighing method.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="NULL"/>
							<xs:enumeration value="SW 0.5"/>
							<xs:enumeration value="SW 1"/>
							<xs:enumeration value="LW"/>
							<xs:enumeration value="DW"/>
							<xs:enumeration value="PW"/>
							<xs:enumeration value="RW"/>
							<xs:enumeration value="SiW"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="weighingMethodDescription" type="xs:string">
					<xs:annotation>
						<xs:documentation>Text description of the weighing method.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="additionalMark" type="xs:string">
		<xs:annotation>
			<xs:documentation>Other shipment marks used to identify the coffee.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="billOfLadingDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date when the Bill of Lading was issued.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="brokerContractIdentifier" type="xs:string">
		<xs:annotation>
			<xs:documentation>Broker's Contract Reference if a broker was involved with the issuance of the Contract.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="buyerContractIdentifier" type="xs:string">
		<xs:annotation>
			<xs:documentation>Buyer's Contract Reference Number. Alphanumeric Contract Number issued by the Company or System</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="containerIdentification" type="xs:string">
		<xs:annotation>
			<xs:documentation>Unique Container number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="containerType">
		<xs:annotation>
			<xs:documentation>Type of container - 20 or 40 feet</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:list itemType="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contractType">
		<xs:annotation>
			<xs:documentation>IncoTerms for the Contract. e.g. - FOB, CNF, etc</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
				<xs:enumeration value="C+F"/>
				<xs:enumeration value="CIF"/>
				<xs:enumeration value="Delivered"/>
				<xs:enumeration value="FOB"/>
				<xs:enumeration value="FOR"/>
				<xs:enumeration value="FOT"/>
				<xs:enumeration value="Ex-Docks"/>
				<xs:enumeration value="Ex-Warehouse"/>
				<xs:enumeration value="Spot"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cropYear" type="xs:string">
		<xs:annotation>
			<xs:documentation>Year in which the crop was harvested.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="currencyUnit">
		<xs:annotation>
			<xs:documentation>Example -  US Dollar</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AFA"/>
				<xs:enumeration value="ALL"/>
				<xs:enumeration value="DZD"/>
				<xs:enumeration value="USD"/>
				<xs:enumeration value="ESP"/>
				<xs:enumeration value="FRF"/>
				<xs:enumeration value="ADP"/>
				<xs:enumeration value="AON"/>
				<xs:enumeration value="AOR"/>
				<xs:enumeration value="XCD"/>
				<xs:enumeration value="ARS"/>
				<xs:enumeration value="AMD"/>
				<xs:enumeration value="AWG"/>
				<xs:enumeration value="AUD"/>
				<xs:enumeration value="ATS"/>
				<xs:enumeration value="AZM"/>
				<xs:enumeration value="BSD"/>
				<xs:enumeration value="BHD"/>
				<xs:enumeration value="BDT"/>
				<xs:enumeration value="BBD"/>
				<xs:enumeration value="BYB"/>
				<xs:enumeration value="BEF"/>
				<xs:enumeration value="BZD"/>
				<xs:enumeration value="XOF"/>
				<xs:enumeration value="BMD"/>
				<xs:enumeration value="INR"/>
				<xs:enumeration value="BTN"/>
				<xs:enumeration value="BOB"/>
				<xs:enumeration value="BOV"/>
				<xs:enumeration value="BAM"/>
				<xs:enumeration value="BWP"/>
				<xs:enumeration value="NOK"/>
				<xs:enumeration value="BRL"/>
				<xs:enumeration value="BND"/>
				<xs:enumeration value="BGL"/>
				<xs:enumeration value="BGN"/>
				<xs:enumeration value="BIF"/>
				<xs:enumeration value="KHR"/>
				<xs:enumeration value="XAF"/>
				<xs:enumeration value="CAD"/>
				<xs:enumeration value="CVE"/>
				<xs:enumeration value="KYD"/>
				<xs:enumeration value="CLP"/>
				<xs:enumeration value="CLF"/>
				<xs:enumeration value="CNY"/>
				<xs:enumeration value="COP"/>
				<xs:enumeration value="KMF"/>
				<xs:enumeration value="CDF"/>
				<xs:enumeration value="NZD"/>
				<xs:enumeration value="CRC"/>
				<xs:enumeration value="HRK"/>
				<xs:enumeration value="CUP"/>
				<xs:enumeration value="CYP"/>
				<xs:enumeration value="CZK"/>
				<xs:enumeration value="DKK"/>
				<xs:enumeration value="DJF"/>
				<xs:enumeration value="DOP"/>
				<xs:enumeration value="TPE"/>
				<xs:enumeration value="IDR"/>
				<xs:enumeration value="ECS"/>
				<xs:enumeration value="ECV"/>
				<xs:enumeration value="EGP"/>
				<xs:enumeration value="SVC"/>
				<xs:enumeration value="EEK"/>
				<xs:enumeration value="ERN"/>
				<xs:enumeration value="ETB"/>
				<xs:enumeration value="FKP"/>
				<xs:enumeration value="FJD"/>
				<xs:enumeration value="FIM"/>
				<xs:enumeration value="XPF"/>
				<xs:enumeration value="GMD"/>
				<xs:enumeration value="GEL"/>
				<xs:enumeration value="DEM"/>
				<xs:enumeration value="GHC"/>
				<xs:enumeration value="GIP"/>
				<xs:enumeration value="GRD"/>
				<xs:enumeration value="GTQ"/>
				<xs:enumeration value="GNF"/>
				<xs:enumeration value="GWP"/>
				<xs:enumeration value="GYD"/>
				<xs:enumeration value="HTG"/>
				<xs:enumeration value="HNL"/>
				<xs:enumeration value="HKD"/>
				<xs:enumeration value="HUF"/>
				<xs:enumeration value="ISK"/>
				<xs:enumeration value="XDR"/>
				<xs:enumeration value="IRR"/>
				<xs:enumeration value="IQD"/>
				<xs:enumeration value="IEP"/>
				<xs:enumeration value="ILS"/>
				<xs:enumeration value="ITL"/>
				<xs:enumeration value="JMD"/>
				<xs:enumeration value="JPY"/>
				<xs:enumeration value="JOD"/>
				<xs:enumeration value="KZT"/>
				<xs:enumeration value="KES"/>
				<xs:enumeration value="KPW"/>
				<xs:enumeration value="KRW"/>
				<xs:enumeration value="KWD"/>
				<xs:enumeration value="KGS"/>
				<xs:enumeration value="LAK"/>
				<xs:enumeration value="LVL"/>
				<xs:enumeration value="LBP"/>
				<xs:enumeration value="ZAR"/>
				<xs:enumeration value="ZAL"/>
				<xs:enumeration value="LSL"/>
				<xs:enumeration value="LRD"/>
				<xs:enumeration value="LYD"/>
				<xs:enumeration value="CHF"/>
				<xs:enumeration value="LTL"/>
				<xs:enumeration value="LUF"/>
				<xs:enumeration value="MOP"/>
				<xs:enumeration value="MKD"/>
				<xs:enumeration value="MGF"/>
				<xs:enumeration value="MWK"/>
				<xs:enumeration value="MYR"/>
				<xs:enumeration value="MVR"/>
				<xs:enumeration value="MTL"/>
				<xs:enumeration value="MRO"/>
				<xs:enumeration value="MUR"/>
				<xs:enumeration value="MXN"/>
				<xs:enumeration value="MXV"/>
				<xs:enumeration value="MDL"/>
				<xs:enumeration value="MNT"/>
				<xs:enumeration value="MAD"/>
				<xs:enumeration value="MZM"/>
				<xs:enumeration value="MMK"/>
				<xs:enumeration value="NAD"/>
				<xs:enumeration value="NPR"/>
				<xs:enumeration value="NLG"/>
				<xs:enumeration value="ANG"/>
				<xs:enumeration value="NIO"/>
				<xs:enumeration value="NGN"/>
				<xs:enumeration value="OMR"/>
				<xs:enumeration value="PKR"/>
				<xs:enumeration value="PAB"/>
				<xs:enumeration value="PGK"/>
				<xs:enumeration value="PYG"/>
				<xs:enumeration value="PEN"/>
				<xs:enumeration value="PHP"/>
				<xs:enumeration value="PLN"/>
				<xs:enumeration value="PTE"/>
				<xs:enumeration value="QAR"/>
				<xs:enumeration value="ROL"/>
				<xs:enumeration value="RUR"/>
				<xs:enumeration value="RUB"/>
				<xs:enumeration value="RWF"/>
				<xs:enumeration value="SHP"/>
				<xs:enumeration value="WST"/>
				<xs:enumeration value="STD"/>
				<xs:enumeration value="SA"/>
				<xs:enumeration value="SCR"/>
				<xs:enumeration value="SLL"/>
				<xs:enumeration value="SGD"/>
				<xs:enumeration value="SKK"/>
				<xs:enumeration value="SIT"/>
				<xs:enumeration value="SBD"/>
				<xs:enumeration value="SOS"/>
				<xs:enumeration value="LKR"/>
				<xs:enumeration value="SDD"/>
				<xs:enumeration value="SRG"/>
				<xs:enumeration value="SZL"/>
				<xs:enumeration value="SEK"/>
				<xs:enumeration value="SYP"/>
				<xs:enumeration value="TWD"/>
				<xs:enumeration value="TJR"/>
				<xs:enumeration value="TZS"/>
				<xs:enumeration value="THB"/>
				<xs:enumeration value="TOP"/>
				<xs:enumeration value="TTD"/>
				<xs:enumeration value="TND"/>
				<xs:enumeration value="TRL"/>
				<xs:enumeration value="TMM"/>
				<xs:enumeration value="UGX"/>
				<xs:enumeration value="UAH"/>
				<xs:enumeration value="AED"/>
				<xs:enumeration value="GBP"/>
				<xs:enumeration value="USS"/>
				<xs:enumeration value="USN"/>
				<xs:enumeration value="UYU"/>
				<xs:enumeration value="UZS"/>
				<xs:enumeration value="VUV"/>
				<xs:enumeration value="VEB"/>
				<xs:enumeration value="VND"/>
				<xs:enumeration value="YER"/>
				<xs:enumeration value="YUM"/>
				<xs:enumeration value="ZRN"/>
				<xs:enumeration value="ZMK"/>
				<xs:enumeration value="ZWD"/>
				<xs:enumeration value="EUR"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="documentCreatorIdentifier" type="xs:string">
		<xs:annotation>
			<xs:documentation>Identifies the company or system which issued the document., e.g. TLM</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="documentID" type="xs:string">
		<xs:annotation>
			<xs:documentation>Users can enter, if any, their Invoice  No.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="documentNumber">
		<xs:annotation>
			<xs:documentation>Unique identification of the document</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="documentVersion" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>Version number of the document, if the document Issuer maintains version numbers.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="dateOfArrivalAtDestination" type="xs:date">
		<xs:annotation>
			<xs:documentation>Arrival Date of shipment at destination.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="e-TransactionNumber" type="xs:string">
		<xs:annotation>
			<xs:documentation>Contract Number generated by  an E-Commerce service such as EXIMWARE's ICM</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="endDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>End date of the period</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="estimatedDateOfAvailability" type="xs:date">
		<xs:annotation>
			<xs:documentation>Estimated Date of Availability of the Coffee free of encumberances as per contractual terms.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="futuresPriceUnits">
		<xs:annotation>
			<xs:documentation>Example - Metric Tonnes. Pounds</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="LBS"/>
				<xs:enumeration value="MT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="icoMark" type="xs:string">
		<xs:annotation>
			<xs:documentation>Universal standardized ICO mark for the coffee if available.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="line" type="xs:string">
		<xs:annotation>
			<xs:documentation>Line of text</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="locationCode" type="xs:string">
		<xs:annotation>
			<xs:documentation>Harmonized Location Code for the location</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="locationName" type="xs:string">
		<xs:annotation>
			<xs:documentation>Descriptive name associated with the location, e.g. - Continental Warehouse, New York</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="locomotiveNumber" type="xs:string">
		<xs:annotation>
			<xs:documentation>Unique identification of the locomotive</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="numberOfBags" type="xs:integer">
		<xs:annotation>
			<xs:documentation>No of bags per marks</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="organizationName">
		<xs:annotation>
			<xs:documentation>Full Legal name of the organization</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="packagingType">
		<xs:annotation>
			<xs:documentation>Describes how the coffee is to be packaged.  E.g. Bags, Bulk, etc.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="BGS"/>
				<xs:enumeration value="CT"/>
				<xs:enumeration value="BLK"/>
				<xs:enumeration value="SS"/>
				<xs:enumeration value="BTD"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="priceUnits">
		<xs:annotation>
			<xs:documentation>Example - per Pound or Per 46 KGs</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="46KB"/>
				<xs:enumeration value="50KB"/>
				<xs:enumeration value="LBS"/>
				<xs:enumeration value="MT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="positionOfSale">
		<xs:annotation>
			<xs:documentation>Whether it is Shipment, Delivery or afloat basis</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Afloat"/>
				<xs:enumeration value="Arrival"/>
				<xs:enumeration value="Arrival or Delivery at Seller's option"/>
				<xs:enumeration value="Crossing"/>
				<xs:enumeration value="DAF"/>
				<xs:enumeration value="Delivery"/>
				<xs:enumeration value="Ship"/>
				<xs:enumeration value="Spot"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="product" type="xs:string">
		<xs:annotation>
			<xs:documentation>General Product Description. Harmonized code that identifies the commodity being shipped</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="quantityUnits">
		<xs:annotation>
			<xs:documentation>Units associated with the quantity.  E.g.69 Kg Bags</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="60KB"/>
				<xs:enumeration value="69KB"/>
				<xs:enumeration value="70KB"/>
				<xs:enumeration value="MT"/>
				<xs:enumeration value="LBS"/>
				<xs:enumeration value="KGS"/>
				<xs:enumeration value="46KB"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="quantityValue" type="xs:double">
		<xs:annotation>
			<xs:documentation>Numeric value including decimal places of the quantity. Example - 1000</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="railCarNumber" type="xs:string">
		<xs:annotation>
			<xs:documentation>Unique identification of a rail car on which cargo is being shipped</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="responsibilityOfWeighing">
		<xs:annotation>
			<xs:documentation>The party responsible for paying the weighing charges - buyer or seller</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Buyer"/>
				<xs:enumeration value="Seller"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="seal" type="xs:string">
		<xs:annotation>
			<xs:documentation>Container seal number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="sellerContractIdentifier" type="xs:string">
		<xs:annotation>
			<xs:documentation>Seller's Contract Reference Number. Alphanumeric Contract Number issued by the Company or System</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="startDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Start date of the period</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="status">
		<xs:annotation>
			<xs:documentation>Status of this document.  Possible values are Draft, Final or Amended.  Amended is to be used if this  document is an amended version of an earlier Final document.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:list itemType="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="value" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>A Numeric value</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="vesselName" type="xs:string">
		<xs:annotation>
			<xs:documentation>Name of the ship or vessel.  e.g. - Maserk Integrity</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="voyageNumber" type="xs:string">
		<xs:annotation>
			<xs:documentation>Unique identifier or reference for the voyage by the specified Vessel, as provided by the Shipping Line</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="weightUnitCode">
		<xs:annotation>
			<xs:documentation>Harmonized weight unit code</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MT"/>
				<xs:enumeration value="LBS"/>
				<xs:enumeration value="KGS"/>
				<xs:enumeration value="46KB"/>
				<xs:enumeration value="60KB"/>
				<xs:enumeration value="69KB"/>
				<xs:enumeration value="70KB"/>
				<xs:enumeration value="75KB"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InvoiceNumber">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="documentCreatorIdentifier"/>
				<xs:element ref="documentNumber"/>
				<xs:element ref="documentVersion" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="futuresCurrencyUnit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="USD"/>
				<xs:enumeration value="USC"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="futuresExchangeCode">
		<xs:annotation>
			<xs:documentation>Example - LK , CF, etc</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="KC"/>
				<xs:enumeration value="LKD"/>
				<xs:enumeration value="BICF"/>
				<xs:enumeration value="TGE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="futuresMonthCode">
		<xs:annotation>
			<xs:documentation>Example - U, N, etc</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="F"/>
				<xs:enumeration value="G"/>
				<xs:enumeration value="H"/>
				<xs:enumeration value="J"/>
				<xs:enumeration value="K"/>
				<xs:enumeration value="M"/>
				<xs:enumeration value="N"/>
				<xs:enumeration value="Q"/>
				<xs:enumeration value="U"/>
				<xs:enumeration value="V"/>
				<xs:enumeration value="X"/>
				<xs:enumeration value="Z"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
