workspace/Pensoft/Altova/MapForce2013/MapForceExamples/Tutorial/DB2Client.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Alex Pilz (Altova GmbH) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="zip">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="95116"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="work">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="4084630000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="street">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="5401 Julio Ave."/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="statea">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="phone">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="work"/>
				<xs:element ref="home"/>
				<xs:element ref="cell"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="home">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="4081111111"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fax">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="4087776666"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="email">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="love2shop@yahoo.com"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="city">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="San Jose"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cell">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				<xs:enumeration value="4082222222"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Client">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address"/>
				<xs:element ref="phone"/>
				<xs:element ref="fax"/>
				<xs:element ref="email"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="street"/>
				<xs:element ref="city"/>
				<xs:element ref="statea"/>
				<xs:element ref="zip"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
