workspace/Pensoft/Altova/MapForce2013/MapForceExamples/Tutorial/output.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by chris luntzer (altova) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Amount" type="xs:integer"/>
	<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Output">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Total"/>
				<xs:element name="Product" type="ProductType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Price" type="xs:integer"/>
	<xs:complexType name="ProductType">
		<xs:sequence>
			<xs:element ref="Name"/>
			<xs:element ref="Amount"/>
			<xs:element ref="Price"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Total" type="xs:integer"/>
</xs:schema>
