workspace/Pensoft/Altova/MapForce2013/MapForceExamples/Tutorial/Tut-company.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Altova">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Office" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"/>
							<xs:element name="street" type="xs:string"/>
							<xs:element name="city" type="xs:string"/>
							<xs:element name="Phone" type="xs:integer"/>
							<xs:element name="Department" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name" type="xs:string"/>
										<xs:element name="Person" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="EMail" type="xs:string"/>
													<xs:element name="First" type="xs:string"/>
													<xs:element name="Last" type="xs:string"/>
													<xs:element name="PhoneExt" type="xs:string"/>
													<xs:element name="Title" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
