workspace/Pensoft/Altova/MapForce2013/MapForceExamples/Tutorial/YearlySales.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Allan Abraham (Altova GmbH) -->
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Year">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:int">
					<xs:attribute name="id" type="xs:short" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Region">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Year" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ChartType"/>
				<xs:element ref="Region" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChartType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Pie Chart 2D"/>
				<xs:enumeration value="Pie Chart 3D"/>
				<xs:enumeration value="Bar Chart 2D"/>
				<xs:enumeration value="Bar Chart 3D"/>
				<xs:enumeration value="Bar Chart 3D Grouped"/>
				<xs:enumeration value="Line Graph"/>
				<xs:enumeration value="Gauge"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
